* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
  font-family: sans-serif;
}
form {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
input {
  margin-right: 5px;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 5px 0 gray;
}
.notification {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  font-size: 1.15rem;
  font-weight: bold;
}
.notification.right {
  animation: notification-top-right ease-in-out 0.5s;
}
.notification.left {
  animation: notification-top-left ease-in-out 0.5s;
}
.notification i {
  font-style: inherit;
}
.notification-btn {
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
  font-size: 1.25rem;
  &:hover {
    color: black;
  }
}
.notification-border {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  border-radius: 0 0 5px 5px;
}
.toast-btn {
  width: 300px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}

@keyframes notification-top-right {
  from {
    right: -100%;
  }
  to {
    right: 5px;
  }
}
@keyframes notification-top-left {
  from {
    left: -100%;
  }
  to {
    left: 5px;
  }
}
